.pageContainer {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.homeContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5% 5% 3% 5%;
  background-color: white;
}

.title {
  margin-bottom: 3%;
}

.titleText {
  font-size: 1.5rem; 
  height: 15%;
  margin-bottom: 1rem;
  color: #405AA7;
}

.logosContainer {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 2%;
  flex-wrap: wrap;
}

.logoEscolas,
.conjuntoLogos {
  max-width: 50%;
  height: auto;
  max-width: 100%;
}

.ContainerVideo {
  position: relative;
  width: 70%;
  padding-bottom: 39.375%;
  margin-bottom: 2%;
}

.ContainerVideo iframe,
.ContainerVideo .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.placeholder {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.rainbowBar {
  margin: 1.5rem 0;
  width: 110%;
  height: 60%;
  background: linear-gradient(
    to bottom,
    #ED2025 0%,   /* Vermelho de 0% a 20% */
    #ED2025 20%,
    #FDCF08 20%,  /* Amarelo de 20% a 40% */
    #FDCF08 40%,
    #FFFFFF 40%,  /* Branco de 40% a 60% */
    #FFFFFF 60%,
    #45B549 60%,  /* Verde de 60% a 80% */
    #45B549 80%,
    #405AA7 80%,  /* Azul de 80% a 100% */
    #405AA7 100%
  );
  border-radius: 0;
}

.helpTitle {
  margin-bottom: 1.5rem;
}

.helpTitle h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5%;
  color: #405AA7;
}

.helpTitle p {
  color: #405AA7;
  font-size: 1rem;
}

.tabela {
  display: block;
  background-color: #fff;
  border-radius: 1% 1% 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
  margin-top: 3.5%;
  text-align: center;
  overflow: hidden;
}

.infoTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.infoTable thead {
  background-color: #0C1C2D;
  color: white;
}

.infoTable th {
  background-color: #0C1C2D;
  color: white;
  padding: 1.25%;
  text-align: center;
  font-weight: bold;
  border-right: 1px solid white;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
}

.infoTable td {
  padding: 1.25%;
  text-align: left;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: white;
  color: black;
  word-wrap: break-word;
}

.infoTable td:last-child {
  border-right: none;
}

/* ================= MEDIA QUERIES ================= */
@media (max-width: 480px) {
  .homeContent {
    padding: 3%;
  }
  .titleText {
    font-size: 1rem; /* Diminuído de 1rem para 0.9rem para telas menores */
  }
  .rainbowBar {
    height: 42px;
    margin: 5%;
    background: linear-gradient(
      to bottom,
      #ED2025 0%,
      #ED2025 20%,
      #FDCF08 20%,
      #FDCF08 40%,
      #FFFFFF 40%,
      #FFFFFF 60%,
      #45B549 60%,
      #45B549 80%,
      #405AA7 80%,
      #405AA7 100%
    );
  }
  .helpTitle h2 {
    font-size: 1rem;
    margin-right: 1%;
  }
  .helpTitle p {
    font-size: 0.6rem;
  }
  .ContainerVideo {
    width: 100%;
    max-width: 80%;
    padding-bottom: 56.25%;
    margin-top: 8%;
  }
  .logoEscolas{
    width: 45%;
  }
  .conjuntoLogos{
    margin-top: 4%;
    width: 60%;
  }
  .tabela {
      width: 100%;
      font-size: 0.8em;
      margin-top: 20%;
      overflow-x: auto;
  }
  .infoTable {
      font-size: 0.5em;
  }
  .infoTable th, .infoTable td {
      padding: 5px;
      white-space: normal;
      text-align: center;
  }
  .infoTable td {
      text-align: center;
  }
  .infoTable thead th:first-child {
      border-top-left-radius: 7px;
  }
  .infoTable thead th:last-child {
      border-top-right-radius: 7px;
  }
}

/* Telas até 768px */
@media (min-width: 481) and (max-width: 768px) {
  .homeContent {
    padding: 3% 3% 2% 3%;
  }
  .titleText {
    font-size: 1.4rem; /* Diminuído de 1.7rem para 1.4rem para telas até 768px */
  }
  .ContainerVideo {
    width: 90%;
    margin-top: 10%;
    padding-bottom: 56.25%;
  }
  .logoEscolas,
  .conjuntoLogos {
    width: 130px;
  }
  .tabela {
    margin-top: 6%;
  }
  .infoTable th,
  .infoTable td {
    padding: 3%;
    font-size: 0.9em;
  }
}

/* Telas até 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .ContainerVideo {
    width: 85%;
  }
  .logoEscolas,
  .conjuntoLogos {
    width: 140px;
  }
  .infoTable th,
  .infoTable td {
    padding: 2%;
  }
  .titleText {
    font-size: 1.5rem; /* Diminuído de 1.8rem para 1.5rem para telas até 1024px */
  }
  .helpTitle h2 {
    font-size: 1.6rem;
  }
  .helpTitle p {
    font-size: 0.95rem;
  }
}

/* Telas até 1200px */
@media (min-width: 1025) and (max-width: 1200px) {
  .ContainerVideo {
    width: 80%;
  }
  .logoEscolas,
  .conjuntoLogos {
    width: 150px;
  }
  .infoTable th,
  .infoTable td {
    font-size: 1em;
  }
  .infoTable thead th:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .infoTable thead th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .titleText {
    font-size: 1.5rem; /* Diminuído de 2rem para 1.5rem para telas até 1200px */
  }
  .helpTitle h2 {
    font-size: 1.8rem;
  }
  .helpTitle p {
    font-size: 1rem;
  }
}
/*
.pageContainer {
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.homeContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5% 5% 3% 5%;
    background-color: white;
}

.ContainerVideo {
    position: relative;
    width: 70%;
    padding-bottom: 39.375%;
    margin-bottom: 0%;
}

.primeiroVideo {
    margin-top: 5%;
}

.ContainerVideo iframe,
.ContainerVideo .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.placeholder {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.setaAnimada {
    width: 5%;
    cursor: pointer;
    animation: bounce 2s infinite;
    user-select: none;
    position: absolute;
    right: -18%;
    top: 69%;
    transform: translateY(-50%);
}

.setaVoltar {
    transform: rotate(180deg) translateY(-50%);
    right: -15%;
    top: 2%;
}

@keyframes bounce {
    0%, 20%, 40%, 50%, 60%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10%);
    }
    60% {
        transform: translateY(-5%);
    }
}

.tabela {
    display: block;
    background-color: #fff;
    border-radius: 1% 1% 0 0;
    box-shadow: 0 4% 8% rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    margin-top: 3.5%;
    text-align: center;
    margin-bottom: 0%;
    overflow: hidden;
}

.infoTable {
    width: 100%;
    border-collapse: collapse;
    border: none;
    table-layout: fixed; 
}

.infoTable thead {
    display: table-row-group;
    overflow: hidden;
    position: relative;
}

.infoTable th {
    background-color: #0C1C2D;
    color: white;
    padding: 1.25%;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid white;
    border-bottom: 1px solid #ccc;
    white-space: nowrap; 
}

.infoTable td {
    padding: 1.25%;
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: white;
    color: black;
    word-wrap: break-word; 
}

.infoTable td:last-child {
    border-right: none;
}

@media (max-width: 768px) {
    .home {
        padding: 3% 3% 2% 3%;
    }
    .ContainerVideo {
        width: 70%;
        margin-top: 14%;
        margin-bottom: 0.5%;
    }
    .primeiroVideo {
        margin-top: 15%;
    }
    .setaAnimada {
        width: 10%;
        right: -18%;
    }
    .setaVoltar {
        width: 10%;
        right: -18%;
        transform: rotate(180deg) translateY(-50%);
    }
}

@media (max-width: 480px) {
    .home {
        padding: 2%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .ContainerVideo {
        width: 75%;
        max-width: 320px;
        padding-bottom: 56.25%;
        margin-top: 60%;
    }
    .ContainerVideo iframe {
        height: 110%;
    }
    .primeiroVideo {
        margin-top: 60%;
    }
    .setaAnimada {
        width: 13%;
        right: -17%;
        bottom: -12px;
    }
    .setaVoltar {
        width: 13%;
        right: -17%;
    }
    .tabela {
        width: 100%;
        font-size: 0.8em;
        margin-top: 90%;
        overflow-x: auto;
    }
    .infoTable {
        font-size: 0.5em;
    }
    .infoTable th, .infoTable td {
        padding: 5px;
        white-space: normal;
        text-align: center;
    }
    .infoTable td {
        text-align: center;
    }
    .infoTable thead th:first-child {
        border-top-left-radius: 7px;
    }
    .infoTable thead th:last-child {
        border-top-right-radius: 7px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .home {
        padding: 4% 4% 2.5% 4%;
    }
    .ContainerVideo {
        width: 80%;
        margin-top: 10%;
    }
    .primeiroVideo {
        margin-top: 5%;
    }
    .setaAnimada {
        width: 8%;
        right: -15%;
    }
    .setaVoltar {
        width: 8%;
        right: -12%;
        transform: rotate(180deg) translateY(-50%);
    }
    .tabela {
        border-radius: 1% 1% 0 0; 
    }
    .infoTable thead th:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .infoTable thead th:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media (min-width: 1200px) {
    .ContainerVideo {
        width: 60%;
        margin-top: 0;
        margin-bottom: 2.5%;
    }
    .primeiroVideo {
        margin-top: 5%;
    }
    .tabela {
        margin-top: 3%;
        width: 100%;
        border-radius: 1% 1% 0 0;
        margin-bottom: -2%; 
    }
    .setaAnimada {
        width: 8%;
        right: -18%;
    }
    .setaVoltar {
        width: 8%;
        right: -15%;
    }
    .infoTable {
        font-size: 1.125em;
    }
    .infoTable th,
    .infoTable td {
        padding: 1.5%;
    }
    .infoTable thead th:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .infoTable thead th:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
*/