.footer {
    position: relative;
    width: 100%;
    background-color: #405AA7;
    padding: 1% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 0.12rem 0.25rem rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
  .footerImage {
    max-width: 150px;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .footer {
      padding: 1% 2%;
    }
  
    .footerImage {
      width: 120px;
    }
  }
  